﻿

.right_col {
    padding: 10px !important;
}

/** top tiles  */
.tile_count {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border: 1px solid #E6E9ED;
    margin-top: -60px;
}


    .tile_count .tile_stats_count {
        background-color: white;
        border-bottom: 1px solid #D9DEE4;
        padding: 0 10px 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        height: 80px;
    }

@media (min-width: 992px) {
    footer {
        margin-left: 230px;
    }
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        border-bottom: 0;
    }
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}

@media (min-width:992px) {
    .tile_count .tile_stats_count:first-child:before {
        border-left: 0;
    }
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

@media (min-width:768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px;
    }
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

@media (min-width:768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px;
    }
}

.tile_count .tile_stats_count .count_bottom i {
    width: 12px;
}
/** /top tiles **/



.dashboard_graph {
    background: #fff;
    padding: 7px 23px;
    border: 1px solid #E6E9ED;
    margin-bottom: 10px;
}

    .dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
        padding: 0;
    }



.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    padding: 3px 0px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 1px 1px;
    margin-bottom: 10px;
}

    .x_title .filter {
        width: 40%;
        float: right;
    }

    .x_title h3 {
        margin: 8px 1px 8px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: black !important;
    }

    .x_title h2 {
        margin: 5px 0 6px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

        .x_title h2 small {
            margin-left: 10px;
        }



.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

    .x_content h4 {
        font-size: 16px;
        font-weight: 500;
    }


.dc-chart .pie-slice {
    fill: black;
}

#chart5 .x.axis text {
    text-anchor: end !important;
    transform: rotate(-30deg);
}

.dc-chart g.row text {
    fill: black;
}

.fixed_height_320 {
    height: 310px;
}

.fixed_height_740 {
    height: 632px;
}
/*#73879c    #2ec1a4  #66abab #a8e3d7 #1abb9c */

.count {
    color: #1abb9c;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

#programmeChart svg {
    margin-left: -20px;
}

.reset {
    background-color: #1abb9c !important;
    border-color: #14947b;
}

.dc-data-count .dc-chart {
    background-color: #1abb9c !important;
    border-color: #14947b;
}

.financialStatistic {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.fixed_height_320_plus {
    height: 350px !important;
}

.sharp {
    padding: 12px 8px;
    border: 0 none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-size:16px;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #33a6cc;
    }

    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }

.parameters {
    font-size: 14px;
    margin-top:12px !important;
}

    .parameters span {
        color: #1abb9c!important;
    }
    /*.sticky {
    position: fixed;
    width: 1140px;
    z-index: 10;
}*/
