﻿<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    @*<link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dc.css" rel="stylesheet">*@
    @*<link href="~/Scripts/iknow/css/dc.css" rel="stylesheet" />*@
    @*  <link href="~/Scripts/iknow/css/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/LatestPackages/crossfilter.js"></script>
    <script src="~/Scripts/d34.13/d3.js"></script>
    <script src="~/Scripts/LatestPackages/dc.js"></script>
    <link href="~/Scripts/LatestPackages/dc.css" rel="stylesheet" />
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link href="~/Content/IknowVisual.css" rel="stylesheet" />
    <link href="~/Content/LoadingSpinner.css" rel="stylesheet" />
</head>

<body style="background-color:#F7F7F7">
    <div class="modal-loading-spinner">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>

    <div class="right_col" role="main">
        <!-- top tiles -->
        <div class="row tile_count" id="nav-header">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count chart charts dc-chart">
                <span class="count_top"><i class="fa fa-user"></i> Вкупно студенти</span>
                <div class="count"><span id="totalCount"></span> </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-clock-o"></i>Селектирани студенти</span>
                <div class="count">
                    <div id="statsChart">
                        <span class="number-display"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>  Вкупно освоени кредити</span>
                <div class="count green">
                    <div class="count"><span id="totalCredits"></span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i>Селектирани кредити</span>
                <div class="count">
                    <div id="statsChart2">
                        <span class="number-display"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"> </span>

                <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn  btn-info btn-sm " style="margin-top:23px;">Отстрани филтри</a>
            </div>
        </div>

        <!-- Prv red -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph fixed_height_320">

                    <div class="col-md-8 col-sm-8 col-xs-12 chart charts dc-chart" id="startYearChart">
                        <div>
                            <div class="row x_title">
                                <div class="col-md-10">
                                    <span id="title1" class="h3"></span>
                                </div>
                                <div class="col-md-2">
                                    <a class="reset btn btn-success btn-xs" href="javascript:charts['startYearChart'].filterAll();dc.redrawAll();"
                                       style="display: none;">отстрани</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12 " style="margin-left:20px;">
                        <div class="x_title">
                            <span class="h3">Параметри </span>
                        </div>
                        <div class="col-md-12 chart charts dc-chart">

                            <div class="dc-data-count dc-chart" style="float: none;">
                                <a href="javascript:dc.filterAll(); dc.renderAll();" class="btn  btn-primary btn-lg sharp">Отстрани ги сите филтри</a>
                            </div>
                            <div style="margin-top:10px" class="col-md-12 parameters ">
                                Вкупно <span id="totalCountSide"></span> студенти
                            </div>
                            <div id="statsChartSide" class="col-md-12 parameters" style="float:none !important">
                                Селектирани
                                <span class="number-display"></span>
                                студенти
                            </div>
                            <div id="" class="col-md-12 parameters">
                                Вкупно освоени <span id="totalCreditsSide"></span> кредити
                            </div>
                            <div id="statsChart2Side" class="col-md-12 parameters">
                                Селектирани <span class="number-display"></span> кредити
                            </div>
                            @*<div id="SumAverage">
                                Просечна оцена <span class="number-display">0,00</span>
                                </div>*@
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- Vtor red -->
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" id="programmeChartDiv">
                <div class="x_panel tile fixed_height_740">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="programmeChart">
                            <div>
                                <div class="x_title">
                                    <span id="title10" class="h3"></span>
                                    <a class="reset btn btn-success btn-xs"
                                       href="javascript:charts['programmeChart'].filterAll();dc.redrawAll();" style="display: none; float:right">отстрани</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="studyCycleChart">
                            <div>
                                <div class="x_title">
                                    <span id="title11" class="h3"></span>
                                    <a class="reset btn btn-success btn-xs"
                                       href="javascript:charts['studyCycleChart'].filterAll();dc.redrawAll();"
                                       style="display: none; float:right">отстрани</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320">

                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="studentStatusChart">

                            <div class="x_title">
                                <span id="title8" class="h3"></span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['studentStatusChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right">отстрани</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="sumCreditsChart">
                            <div class="x_title">
                                <span id="title4" class="h4"></span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['sumCreditsChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tret red -->
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12" id="programmeChartDiv">
                <div class="x_panel tile fixed_height_740">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="lastSemesterChart">
                            <div class="x_title">
                                <span id="title5" class="h4"></span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['lastSemesterChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="semesterTypeChart">
                            <div class="x_title">
                                <span id="title6" class="h4"></span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['semesterTypeChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="averageChart">
                            <div class="x_title">
                                <span id="title3" class="h4"></span>
                                <a class="reset btn btn-success btn-xs"
                                   href="javascript:charts['averageChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float: right;">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 chart charts dc-chart" id="totalSemestersChart">
                            <div class="x_title">
                                <span id="title7" class="h4"></span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['totalSemestersChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cetvrti red -->

        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 " id="programmeChartDiv">
                <div class="x_panel tile fixed_height_740">
                    <div class="x_title">
                        <h3>Демографија</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="StudentAgeChart">
                            <div class="x_title">
                                <span id="title8" class="h4">Возраст на студенти</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['StudentAgeChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6 chart charts dc-chart" id="NationalityChart">
                                <div class="x_title">
                                    <span id="title8" class="h4">Националност</span>
                                    <a class="reset btn btn-success btn-xs" href="javascript:charts['NationalityChart'].filterAll();dc.redrawAll();"
                                       style="display: none; float:right;">отстрани</a>
                                </div>
                            </div>
                            <div class="col-md-6 chart charts dc-chart" id="genderChart">
                                <div class="x_title">
                                    <span id="title2" class="h4"></span>
                                    <a class="reset btn btn-success btn-xs" href="javascript:charts['genderChart'].filterAll();dc.redrawAll();"
                                       style="display: none; float:right;">отстрани</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_740">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="avgByProgramme">
                            <div class="x_title">
                                <span id="title8" class="h4">Просек по програма</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['avgByProgramme'].filterAll();dc.redrawAll();"
                                   style="display: none;">отстрани</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Petti red -->

        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 " id="programmeChartDiv">
                <div class="x_panel tile fixed_height_320 fixed_height_320_plus">
                    <div class="x_title">
                        <h3>Финансии</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-6 chart charts dc-chart" id="StudentQuota">
                            <div class="x_title">
                                <span id="title8" class="h4">Студентски квоти</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['StudentQuota'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>
                            </div>
                        </div>
                        <div class="col-md-6 chart charts dc-chart">
                            <div class="x_title">
                                <span id="title8" class="h4">Финансиска статистика</span>
                            </div>

                            <div class="col-md-12 financialStatistic" id="financialPayedChart">
                                Вкупно за наплата <span class="number-display"></span> евра
                            </div>
                            <div class="col-md-12 financialStatistic" id="financialToPayChart">
                                Вкупно платени <span class="number-display"></span> евра
                            </div>
                            <div class="col-md-12 financialStatistic" id="financialDifference">
                                Разлика <span class="number-display"></span> евра
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320 fixed_height_320_plus">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="chart-hist-spend">
                            <div class="x_title">
                                <span id="title8" class="h4">Предмети со најголем број положени</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['chart-hist-spend'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- sesti red -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 " id="programmeChartDiv">
                <div class="x_panel tile fixed_height_320 fixed_height_320_plus">

                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="subjectGradeChart">
                            <div class="x_title">
                                <span id="title8" class="h4">Положени предмети со најголем просек</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['subjectGradeChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320 fixed_height_320_plus">
                    <div class="x_content">
                        <div class="col-md-12 chart charts dc-chart" id="ExamYearChart">
                            <div class="x_title">
                                <span id="title8" class="h4">Положени предмети по години</span>
                                <a class="reset btn btn-success btn-xs" href="javascript:charts['ExamYearChart'].filterAll();dc.redrawAll();"
                                   style="display: none; float:right;">отстрани</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>


<script src="~/Scripts/FinkiVisual/FinkiDataVisual.js"></script>